{% extends "FindBackSiteBundle::layout.html.twig" %}

{% block left_title %}
    <h5>Mon compte</h5>
{% endblock %}
{% block left_content %}

{% endblock %}

{% block right_title %}
    <h5>...</h5>
{% endblock %}