<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <div align="center" style="margin-top: 10px;">
        <input type="submit" class="btn btn-primary" value="S'inscrire" />
    </div>
</form>

{{ form_javascript(form) }}