{% extends "FindBackSiteBundle::layout.html.twig" %}

{% block left_title %}
    <h5><i class="icon-search"></i> Rechercher quelqu'un</h5>
{% endblock %}

{% block left_content %}
{% endblock %}

{% block right_title %}
{% endblock %}

{% block right_content %}
{% endblock %}