.overlay {
    color: #fff;
    width: 1100px;
    position: relative;
    margin: 100px auto 0;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    padding: 30px;
    margin-bottom: 30px;
}

.dialog {
    float:left;
    background-color: #fdfdfd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.8) 0px 1px 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dialog form {
    color: #555;
    padding: 30px 30px 0 30px;
    background-image: url('../images/border-bottom-x.png');
    background-repeat: repeat-x;
    background-position: top;
}

.dialog form ul li {
    font-size: 11px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    background-color: #f2dede;
    border: 1px solid #eed3d7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #b94a48;
    margin: 0;
}

.dialog h4 {
    margin: 0 auto;
    line-height: 50px;
    font-weight: 300;
    font-size: 16px;
    padding-left: 30px;
    border-bottom: 1px solid #0066CC;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: rgba(0, 0, 0, 0.9);
}

.legend {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: #eee;
    text-align: left;
    text-shadow: #000 0 1px 2px;
    float: left;
    padding-top: 100px;
    margin-left: 75px;
}

.legend h1 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

.choice label {
    display: inline-block;
    margin-left: 10px;
}

.choice input[value="female"], .choice label[for*="gender_1"] {
    float: right;
}

.choice label[for*="gender_1"] {
    margin-right: 10px;
}

.counter {
    padding: 0 50px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: 75px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    width: 600px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.8) 0px 1px 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.alert {
    display: inline-block;
    padding: 2px 35px 1px 35px;
    line-height: 25px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 12px;
    float: left;
}

.popover, .popover-title {
    font-size: 12px;
}

.popover .arrow {
    display: none;
}

.footer {
    clear: both;
    text-align: center;
    padding-top: 100px;
    font-size: 11px;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    display: inline-block;
    margin: 0 5px;
}

.footer ul li a {
    opacity: 0.5;
    color: #fff;
    text-decoration: none;
}

.footer ul li a:hover { 
    color: #0066CC;
    opacity: 1;
}

.footer p { 
    color: #555; 
    line-height: 0px;
}